### THIS IS A BUG FIXED FILE TO REMOVE WARNINGS ###
### The SDK 2.0 variant duplicated settings and had "=y=m" as values,
### leading to complaints when configuring the kernel.
### *_BRIDGE was set to y instead of the common m.
CONFIG_CGROUP_DEBUG=y

CONFIG_EXT2_FS_SECURITY=y
CONFIG_EXT3_FS_SECURITY=y

CONFIG_NETFILTER_NETLINK_ACCT=m
CONFIG_NF_CONNTRACK_IPV4=m
CONFIG_NF_CONNTRACK_PROC_COMPAT=y
CONFIG_NF_NAT_IPV4=m
CONFIG_NF_NAT_MASQUERADE_IPV4=m
CONFIG_NFT_RBTREE=m

CONFIG_NETFILTER_XT_MATCH_CONNMARK=m
